@import 'bootstrap';
@import 'bootstrap-icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Syne Variable', sans-serif;
}

#home_main {
  background-image: url(https://images.unsplash.com/photo-1557683316-973673baf926?q=80&w=1129&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

main {
  min-height: 70vh;
}

footer {
  background-color: black;
  color: white;
}