@import 'bootstrap';
@import 'bootstrap-icons';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Syne Variable', sans-serif;
}

header {

  background-color: blueviolet;
  color: white;

  a {
    text-decoration: none;
    color: white;
  }

}

main {
  min-height: 70vh;
}

footer {
  background-color: black;
  color: white;
}